#chrome-linksearch-field {
    margin-left:5px;
    border-radius:5px;
    color:#000;
}
.yui3-linksearch {
    position:fixed;
    top:0; right:0;
    z-index:9999;
}
.yui3-linksearch-content {
    background:#DDD;
    opacity:0.9;
    padding:5px 10px;
    border:1px solid #CCC;
    border-bottom-left-radius:10px
}
.yui3-linksearch label {
    color:#444;
    font-size:0.9em;
}
.yui3-linksearch-match {
    background:yellow !important;
}
.yui3-linksearch-hidden {
    display:none;
}
